[user]
	email = ea616@exeter.ac.uk
	name = Emre Acarsoy

[core]
	editor = code --wait
    defaultBranch = main

[init]
    defaultBranch = main

[fetch]
    prune = true # prune deleted remote branches

[pull]
    rebase = true # explicitly set pull behaviour to rebase

[rebase]
    autoStash = true # auto stash when rebasing

[alias]
    st = status -s
    pr = pull --rebase