[user]
    email = dev@eacarsoy.com
    name = Emre Acarsoy

[core]
    # Use VS Code instead of vim
    editor = code --wait

[init]
    defaultBranch = main

[fetch]
    # Prune deleted remote branches
    prune = true

[pull]
    # Explicitly rebase on pull
    rebase = true

[rebase]
    # Automatically stash
    autoStash = true

[alias]
    # My custom aliases
    st = status -s
    uncommit = reset --soft HEAD~1
    editcommit = commit --amend
    track = "!f() { git branch --set-upstream-to=origin/$1; }; f"